<footer class="bg-white p-4 border border-gray-300">
  <div class="sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-xl m-auto p-6">
    <div class="text-sm text-center text-gray-400">
      <p>&copy; 2026 <span class="font-medium text-gray-600">Hiragana<span class="text-red-500">Easy</span>. All Rights Reserved.</p>
    </div>
  </div>
</footer>