<div data-scope="sidebar" class="w-[280px] hidden md:inline-block">
  <div class="rounded-md bg-white p-4 h-full">
    <h1 class="text-xl font-semibold">Kategori</h1>
    <ul class="p-4 font-semibold">
      <li data-target="sideLink" class="flex gap-2 items-center px-5">
        <span class="font-extrabold text-5xl text-gray-400">•</span>
        <a data-nav href="/kosakata/">Angka</a>
      </li>
      <li data-target="sideLink" class="flex gap-2 items-center px-5">
        <span class="font-extrabold text-5xl text-gray-400">•</span>
        <a data-nav href="/kosakata/hewan">Hewan</a>
      </li>
      <li data-target="sideLink" class="flex gap-2 items-center px-5">
        <span class="font-extrabold text-5xl text-gray-400">•</span>
        <a data-nav href="/kosakata/alam">Alam</a>
      </li>
      <li data-target="sideLink" class="flex gap-2 items-center px-5">
        <span class="font-extrabold text-5xl text-gray-400">•</span>
        <a data-nav href="/kosakata/makanan_minuman">Makanan & Minuman</a>
      </li>
      <li data-target="sideLink" class="flex gap-2 items-center px-5">
        <span class="font-extrabold text-5xl text-gray-400">•</span>
        <a data-nav href="/kosakata/warna">Warna</a>
      </li>
      <li data-target="sideLink" class="flex gap-2 items-center px-5">
        <span class="font-extrabold text-5xl text-gray-400">•</span>
        <a data-nav href="/kosakata/kata_kerja">Kata Kerja</a>
      </li>
      <li data-target="sideLink" class="flex gap-2 items-center px-5">
        <span class="font-extrabold text-5xl text-gray-400">•</span>
        <a data-nav href="/kosakata/benda">Benda</a>
      </li>
      <li data-target="sideLink" class="flex gap-2 items-center px-5">
        <span class="font-extrabold text-5xl text-gray-400">•</span>
        <a data-nav href="/kosakata/waktu">Waktu</a>
      </li>
      <li data-target="sideLink" class="flex gap-2 items-center px-5">
        <span class="font-extrabold text-5xl text-gray-400">•</span>
        <a data-nav href="/kosakata/keluarga">Keluarga</a>
      </li>
      <li data-target="sideLink" class="flex gap-2 items-center px-5">
        <span class="font-extrabold text-5xl text-gray-400">•</span>
        <a data-nav href="/kosakata/tempat">Tempat</a>
      </li>
      <li data-target="sideLink" class="flex gap-2 items-center px-5">
        <span class="font-extrabold text-5xl text-gray-400">•</span>
        <a data-nav href="/kosakata/sifat">Sifat</a>
      </li>
      <li data-target="sideLink" class="flex gap-2 items-center px-5">
        <span class="font-extrabold text-5xl text-gray-400">•</span>
        <a data-nav href="/kosakata/ekspresi">Ekspresi</a>
      </li>
    </ul>
  </div>
</div>