---
import '../styles/global.css'
import Headers from "../components/Headers.astro"
import Footer from "../components/Footer.astro"
---
<!doctype html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<script type="module" src="https://cdn.jsdelivr.net/gh/Rahmad2830/Briz@v1.0.4/dist/Briz.min.js"></script>
		<script src="/script/script.js" type="module"></script>
		<meta name="generator" content={Astro.generator} />
		<title>Kosakata | Platform Interaktif Gratis - HiraganaEasy</title>
	</head>
	<body class="bg-slate-200 flex flex-col min-h-screen">
	  <header>
	    <Headers />
	  </header>
	  <main class="flex-grow">
		  <slot />
	  </main>
	  <Footer />
	</body>
</html>
